.MuiPaper-root {
    background: linear-gradient(217deg, rgba(93,9,116,1) 0%, rgba(24,3,102,1) 53%, rgba(82,1,153,1) 100%, rgba(73,7,101,1) 1000%) !important;
    background-color: #000 !important;
}

.textStyle{
    color: white;
}

.MuiDialog-paperWidthSm {
    max-width: 27% !important;
}

@media screen and (max-width:1000px) {
    .MuiDialog-paperWidthSm {
        max-width: 100% !important;
    }
}